.centralized {
      text-align: center;
    }

    p {
      color: green;
    }

    h1,
    h2 {
      color: red;
    }

    .link:hover {
      color: red;
    }

  i{
    font-size: 80px;
    color: #223942;
    display: flex;
    position: relative;
    left: 2250px;
  }