* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f1f2f4;
}


.navbar {

    height: 64px;

    background: white;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 18px;

    padding: 0 30px;
}


.logo {

    width: 160px;
    height: 50px;

    display: flex;

    flex-direction: column;

    justify-content: center;
    cursor: pointer;
}

.logo img {

    width: 150px;
}

.logo-text {

    font-size: 12px;
}


.search {

    width: 700px;
    height: 42px;

    display: flex;

    align-items: center;

    gap: 10px;

    padding: 0 15px;
    background: #f0f5ff;
    border-radius: 8px;
}

.search i{
    color: #717478;
}

.search input {
    background: transparent;

    width: 100%;

    border: none;

    outline: none;

    font-size: 15px;
}


.location {

    width: 240px;
    height: 50px;


    display: flex;

    align-items: center;

    gap: 10px;
}

.location-text small {

    display: block;
}


.login {

    width: 110px;
    height: 42px;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 8px;
}


.seller {

    width: 170px;
    height: 42px;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 8px;
}


.more {

    width: 80px;
    height: 42px;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 8px;
}


.cart {

    width: 90px;
    height: 42px;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 8px;
}


.menu {

    width: 45px;
    height: 42px;

    display: flex;

    justify-content: center;

    align-items: center;
}

.categories{
    margin-top: 10px;
    width: 100%;
    background: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 15px 20px;
    flex-wrap: wrap;
}

.categories img:hover{
    transition:0.4s;
    transform:translateY(-5px);
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 80px;
    cursor: pointer;
}

.category img {
    width: 56px;
    height: 56px;
    object-fit: contain;

}

.category:hover{
    color: #2874f0;
}

.category span {
    font-size: 13px;
    font-weight: 500;
}

.hero {
    margin: 15px 15px 0;
}

.hero-slider img {
    width: 100%;
    border-radius: 5px;
    display: block;
}

.logo,
.search,
.location,
.login,
.seller,
.more,
.cart,
.menu,
.category{
    cursor:pointer;
}

.offers{

    width:calc(100% - 30px);

    margin:15px;

    display:flex;

    gap:15px;
}

.offer-card{

    flex:1;

    background:white;

    border-radius:8px;

    overflow:hidden;

    cursor:pointer;

    transition:0.3s;

    box-shadow:0 1px 5px rgba(0,0,0,.08);
}

.offer-card:hover{

    transform:translateY(-5px);

    box-shadow:0 8px 20px rgba(0,0,0,.18);
}

.offer-card img{

    width:100%;

    height:220px;

    object-fit:cover;

    display:block;
}

.offer-content{

    padding:18px;
}

.offer-content h3{

    font-size:22px;

    margin-bottom:8px;

    color:#212121;
}

.offer-content p{

    font-size:16px;

    color:#388e3c;

    font-weight:bold;

    margin-bottom:10px;
}

.offer-content span{

    color:#2874f0;

    font-weight:600;

    cursor:pointer;
}

/* ================= PRODUCTS ================= */

.products{
    margin:15px;
    background:#fff;
    border-radius:8px;
    padding:20px;
}

.section-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.section-title h2{
    font-size:24px;
    font-weight:600;
}

.next-btn{
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
    background:#2874f0;
    color:#fff;
    cursor:pointer;
}

.product-container{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:20px;
    overflow-x:auto;
}

.product-card{
    width:200px;
    flex-shrink:0;
    text-align:center;
    cursor:pointer;
}

.product-card img{
    width:180px;
    height:180px;
    object-fit:contain;
    transition:.3s;
}

.product-card:hover img{
    transform:scale(1.08);
}

.product-card h4{
    margin-top:12px;
    font-size:16px;
    font-weight:500;
}

.price{
    margin:8px 0;
    color:#388e3c;
    font-size:18px;
    font-weight:bold;
}

.product-card small{
    color:#777;
}